<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Madlib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Form for your madlib</h1>
    <form action="/formresult" method="post">
      <label for="personName">Type in a person's name:</label>
      <input id="personName" name="personName" type="text">
      <br>

      <label for="numberOfDays">Type in any number you'd like:</label>
      <input id="numberOfDays" name="numberOfDays" type="number">
      <br>

      <button type="submit">Go!</button>
    </form>
  </body>
</html>